*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;


}
.headContent{
    border: none;
    background-color: white;
    display: inline-flex;
}
.heading{
    margin-left: 50px;
    margin-top: 50px;
}
.links{
    border: none;
    background-color: white;
    margin-left: 1000px;
    margin-top: 20px;
    display: flex;
    gap: 30px;
}

.headContent .links a{
    text-decoration: underline;
    color: rgb(15, 180, 163);
}
.cletter{
    color: rgb(15, 180, 163);
}

div{
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 50px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgb(223, 219, 219);

}
.track{
    margin-left: 50px;
    margin-bottom: 50px;
}

